/* Green Color CSS */

body{
border-top:3px solid #30a;
}

.color{
color:#30add1;
}

a, a:visited{
color:#30add1;
}

a:hover{
color:#29a1c4;
}

.navbar{
background: #30a !important;
border-top:1px solid #29a1c4 !important;
border-bottom:1px solid #29a1c4 !important; 
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   border-color: #3ba4c2;
}

.navbar button{
	background:#29a1c4 !important;  
}

.navbar button:hover{
	background:#29a1c4 !important;
}

.navbar .nav{
border-right:1px solid #33a;
}

.navbar .nav > li > a{
background: #30a; 
border-left:1px solid #33a;
}

.navbar .nav > li > a:hover{
background:#29a1c4 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #29a1c4 !important;
}

.dropdown-toggle{
background: #30a !important;
}


.dropdown-menu{
background:#30a !important;
border:1px solid #33a;
}

.dropdown-menu a{
background:#30a !important;
border-bottom:1px solid #33a;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
background:#29a1c4 !important;
}

.social i{
background:#30add1;
}

.social i:hover{
background:#29a1c4;
}

.flex-caption{
border-left:4px solid #30add1;
}

.service i{
color:#30add1;
}

/* Timeline */

.time .tidate{
background:#30add1;
}

.time .timatter{
border-bottom:2px solid #30add1;
}

/* Events - Accordion*/

.events .panel-heading h5{
background:#30add1;
}

/* Slider */

.da-slider{
border-top: 4px solid #30add1;
border-bottom: 4px solid #30add1;
}

.da-slide h2{
color:#30add1;
}

.da-slide .da-link{
background:#30add1;
}

/* Testimonial */

.test{
border-bottom:2px solid #30add1;
}

.test-arrow{
border-top-color: #30add1;
}

/* Feature alt */

.afeature:hover{
border:5px solid #30add1;
}

.afmatter i{
color:#30add1;
}

.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #30add1;
}

.panel-heading i{
color:#30add1;
}

.process i{
color:#30add1;
}

.process-meta span{
background:#30add1;
}

.feat h4 i{
color:#30add1;
}

.blog .meta i{
color:#30add1;
}

.posts .tags a{
background:#30add1;
border:1px solid #29a1c4;
border-bottom:3px solid #29a1c4;
}

.posts .tags a:hover{
border-bottom:3px solid #30add1;
background:#29a1c4;
border:1px solid #29a1c4;
}

.paging a:hover{
background: #30add1;
border:1px solid #29a1c4;
}

.paging .current{
background: #30add1;
border:1px solid #29a1c4;
}

.serv .simg i{
color:#30add1;
}

.button a, .button a:visited{
background:#30a;
//border-bottom:2px solid #29a1c4;
}

.button a:hover{
background:#29a1c4;
}

.pricel .phead-top{
background:#30add1;
border:1px solid #29a1c4;
}

.pricel .phead-bottom{
border-top:1px solid #29a1c4;
}

.nav-tabs > li > a:hover{
background:#30add1;
}

.about .asocial i{
background:#30add1;
}

.resume h4{
background:#30add1;
}

.resume h5{
color:#30add1;
}

.content ul li i { color:#30a;}
footer ul li i { color:#30a;}
footer{
border-top:3px solid #30a;
}