@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,latin-ext);
body{
	font-size: 13px;
	line-height: 22px;
	color: #666;
	border-top: 0px solid #eee;
	background:#474F57;  
	padding-top: 43px;
  font-family:'Open Sans',sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
	padding: 2px 0px;
	margin: 2px 0px;
	color: #333;
  font-family:'Open Sans',sans-serif;
}

h2{
	font-size: 30px;
	line-height: 40px;
}

h3{
	font-size: 22px;
	line-height: 27px;
}

h4{
	font-size: 18px;
	line-height: 23px;
}

h5{
	font-size: 15px;
	line-height: 20px;
}

h6{
	font-size: 13px;
	line-height: 18px;
}

p{
	padding: 0px;
	margin:0px;
}

a{
	color: #026b9c;
}

a:hover{
	color: #003f5c;
	text-decoration: none;
}

a:hover,a:active,a:focus {
	outline: 0;
}

.bold{
	font-weight: bold;
}

hr{
margin:15px 0px 10px 0px;
padding:0px;
border-top:0px;
border-bottom:1px solid #f4f4f4;
height:0px;
}

.center{
text-align:center;
}

a:hover,a:active,a:focus {
outline: 0;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.btn{
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.btn:focus{
  outline:none;
}

.btn-primary{
  background-color:#3C434A;
  border-color: #3C434A;
}

.btn-primary:hover,.btn-primary:focus{
  background-color:#62707A;
  border-color:#62707A;  
}

.btn-info{
  background-color:#F07C6C;
  border-color: #F07C6C;
}

.btn-info:hover,.btn-info:focus{
  background-color:#62707A;
  border-color:#62707A;  
}

.btn-green{
  background-color:#6C9380;
  border-color: #6C9380;
}

.btn-green:hover,.btn-green:focus{
  background-color:#7CA893;
  border-color: #7CA893;
}

.btn-lime{
  background-color:#C0CA55;
  border-color: #C0CA55;
}

.btn-lime:hover,.btn-lime:focus{
  background-color:#CED95B;
  border-color: #CED95B;
}

.btn-purple{
  background-color:#AD5472;
  border-color: #AD5472;
}

.btn-purple:hover,.btn-purple:focus{
  background-color:#BD5C7C;
  border-color: #BD5C7C;
}

.form-control{
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.portlets{
  min-height:50px;
}

.portlets .widget-head{
  cursor:move;
}

.widget.ui-sortable-placeholder { border: 2px dotted #ccc; background:none; visibility: visible !important; min-height: 50px !important; }
.widget.ui-sortable-placeholder * { visibility: hidden; }

.label{
  font-size:12px;
  font-weight:normal;
}

.badge{
	padding-left: 7px !important;
	padding-right: 7px !important;
}

.well{
	padding:10px 15px;
}

button.close{
	font-size: 20px !important;
	font-weight: normal;
}


.progress{
	height: 16px;
	border-radius: 2px;
	margin: 15px 0px !important;
	line-height: 15px;
   background:#eee;
}

.progress .bar{
	font-size: 10px;
}

i.ipad{
	margin-right: 2px;
}

.bblue{
	background:#56626B;
}

.bbrown{
	background:#b46e4c;
}

.bgreen{
	background: #6C9380;
}

.borange{
	background:#F07C6C;
}

.bred{
	background: #ff5d5e;
}

.bwine{
  background: #AD5472;
}

.byellow{
	background: #C0CA55;
}

.white{
	background: #d7a443;
}

/* Sparkline tooltip */

.jqstooltip {
  width: auto !important;
  height: auto !important;
  border-radius: 5px;
  padding: 4px 6px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 0 !important;
}

/* Form */

form{
	margin: 0px;
}

form button{
	font-size: 13px !important;
}

form input, form textarea{
	font-size:13px !important;
}

form label{
	font-size: 13px;
	line-height: 20px;
	font-weight:600;
}

/* Modal */

.modal-header{
	padding-top:7px;
	padding-bottom: 7px;
}

/* Form */
.form-inline button{
	margin-left: 15px;
}

.form-horizontal .form-actions {
padding-left: 110px;
}

.form-actions {
padding: 5px 20px 5px;
background:transparent;
border-top:0px;
}

/* Social */

.social{
font-size:16px;
margin: 5px 0px;
}

.social i{
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.social i.facebook{
background:#3c5b9b;
}

.social i.twitter{
background:#2daae1;
}

.social i.google-plus{
background:#f63e28;
}

.social i.pinterest{
background:#cb2027;
}

.social i.linkedin{
background:#0173b2;
}

.social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
color:#fff;
text-decoration:none;
}

/* Back to top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 20px;
	z-index: 104400;
	background: #222;
  background: rgba(0, 0, 0, 0.75);
}

.totop a, .totop a:visited{
	display: block;
	width: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}

.totop a:hover {
	color: #eee;
	text-decoration: none;
}

/* Image alignment*/

.alignleft, img.alignleft {
	margin-right: 8px;
	margin-top:5px;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 8px;
	margin-top:5px;
	display: inline;
	float: right;
}
   
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;	
	display: block;
	clear: both;
}


/* Half column */

.mcol-left{
	width: 48%;
	float: left;
}

.mcol-right{
	width: 48%;
	float: right;
}

.col-left{
	width: 48%;
	float: left;
}

.col-right{
	width: 48%;
	float: right;
}

.navbar-form{
  background:#2E3338;
  margin:0px;
  padding:10px 15px;
  position:relative;
}

.navbar-form .search-button{
  background: none;
  border:none;
  position:absolute;
  right:15px;
  top:11px;
  color:#444;
  -webkit-box-shadow: 0px 0px 0px 0px !important;
  box-shadow: 0px 0px 0px 0px !important;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; 
}

.navbar-form .search-button:hover{
  color:#fff;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.navbar-form .form-group{
  display:block;
}

.navbar-form .form-control{
  background-color: #999 !important;
  border-color:#777;
  border:none;
  color:#aaa;
  -webkit-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.navbar-form .form-control:focus{

  background-color: #999 !important;
  border-color:#888;
  color:#111;
} 
.navbar-form .form-control::-webkit-input-placeholder { 
    color: #ccc !important; text-overflow: ellipsis; 
}
.navbar-form .form-control:-moz-placeholder { 
    color: #ccc !important; text-overflow: ellipsis; 
}
.navbar-form .form-control::-moz-placeholder { 
    color: #ccc !important; text-overflow: ellipsis; 
} /* for the future */
.navbar-form .form-control:-ms-input-placeholder { 
    color: #ccc !important; text-overflow: ellipsis; 
}
/* Dropdown menu */

.dropdown-big .dropdown-menu{
	min-width: 230px;
  padding:0px;
  border-top:0px;
}

.dropdown-big .dropdown-menu li{
	margin:8px 10px;
}

.dropdown-big .dropdown-menu li.padless{
	margin:0px;
}

.dropdown-big .dropdown-menu p{
	margin: 1px 0px;
	padding: 1px 0px;
	font-size: 11px;
	line-height: 16px;
}

.dropdown-big .dropdown-menu a, .dropdown-big .dropdown-menu a:hover{
	line-height: 16px;
	font-size: 12px;
	background:transparent;
	padding: 0px;
	color: #777;
}

.dropdown-big .dropdown-menu a:hover{
	color: #777;
}

.dropdown-big .dropdown-menu .drop-foot{
	text-align: center;
}

.dropdown-big .dropdown-menu .drop-foot a{
	font-size: 11px !important;
	color:#000;
}

.dropdown-big .dropdown-menu hr{
	padding:0px;
	margin: 8px 0px;
	border-top: 0px solid #aaa;
	border-bottom: 1px solid #eee;
}

.dropdown-big .dropdown-header{
  background:#59646e;
  padding:3px 10px;
}

.dropdown-big .dropdown-menu i{
	position: relative;
}

.dropdown-big .dropdown-menu h5{
	color: #fff !important;
	line-height: 18px;
	font-weight: bold;
	font-size: 13px;
}

.dropdown-big .dropdown-menu h6, .dropdown-big .dropdown-menu h6 a{
	color: #888 !important;
	font-size: 12px;
	line-height: 14px !important;
	font-weight: bold;
}

.messages-dd.dropdown-big .dropdown-menu h6 a{
	font-weight: bold !important;
}

.dropdown-big .dropdown-menu h6 a:hover{
	color: #555 !important;
	text-decoration: none;
}

.dropdown-big .dropdown-menu li{
	line-height: 15px;
}

.dropdown-big .dropdown-menu li p{
  padding:5px 0px;
}

.dropdown-menu {
  background:#fafafa;
  border-radius: 2px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: inset 0px 1px 2px #fff;
}  

.dropdown-menu li{
	color: #777;
	font-size: 13px;
	line-height: 18px;
}

.dropdown-menu li > a{
	color: #000;
	line-height: 25px; 
}

.dropdown-menu li > a:hover{
	background: #59646E !important;
	filter:none;
	color: #fff;
}

.menubutton{
  font-size:21px;
  border-right:1px solid #333;
  padding-right:11px;
  padding-left:1px;
  color:#ddd;
  line-height:43px;
}

.menubutton:hover,.menubutton:focus,.menubutton:active{
  color: #fff;
  text-decoration:none;
}

/* Navbar */

.navbar *{
	font-weight: normal !important;
	text-shadow:none !important;
	
}

.navbar{
	background-color: #404952;
  min-height:20px;
  border-bottom: 0px solid #436B91;
  -webkit-box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.navbar .caret{
	border-top-color: #888;
    border-bottom-color: #888;
}

.navbar li:hover .caret{
	border-top-color: #eee;
  border-bottom-color: #eee;
}

.navbar-brand{
   color:#f1f1f1 !important;
   font-size:22px;
   margin:0px !important;
   font-weight:normal;
   padding:12px 35px 10px 15px;
   text-shadow:1px 1px 1px rgba(150, 150, 150, 0.2) !important;  
}

a.navbar-brand span.bold{
  	font-weight: bold !important;
    text-shadow:1px 1px 1px rgba(150, 150, 150, 0.2) !important;
}

.navbar-nav > li.user-data > a{
  color:#f3f3f3;
  margin-left:10px;
}

.navbar-nav > li.user-data > a img{
  margin-right:5px;
}

.navbar-nav > li > a{
  padding: 11px 10px 8px;
}
.navbar-nav.pull-right .dropdown > a > i{
  font-size:20px;
  line-height:25px;  
}
.navbar-toggle{
	background:#f2f2f2;
	border:1px solid #ccc;
	border-radius:4px;
  padding: 4px 10px;
  font-size:13px;
}

.navbar-toggle:hover{
	background:#ddd;
}

.navbar li a{
	font-size: 13px !important;
	color:#777;
}
.navbar .nav > li > a{
  color: #aaa
}
.navbar li a:hover,.navbar li a:active,.navbar li a:focus,.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{	
	background:#59646E;
  color:#C5CED6;
}

.navbar i{
	margin-right: 4px;
}

.navbar-nav > li > .dropdown-menu{

}

.navbar .btn{
	color: #666 !important;
}

.navbar .label{
	padding:5px 7px !important;
   font-size:11px;
   border-radius:10px;   
}
.nav > li > a .label{
	padding:3px 5px !important;
   font-size:10px;
   border-radius:10px;
   position:absolute;
   left:3px;
   top:5px;
}
.navbar .label i{
	margin-right: 0px;
}

.navbar .progress{
	margin-bottom: 0px;
	padding: 0px !important;
	margin: 0px !important;
}

.label-warning{
  background: #FFB03B;
}
.label-important{
  background: #1695A3;
}
/* Header */

header{
	border-top: 1px solid #ccc;
	padding: 0px;
	border-bottom: 0px solid #ddd;
}

header .container {
	max-width: 100%;
}

header .logo{
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left: 10px;
}

header .logo h1 a, header .logo h1 a:visited, header .logo h1 a:hover{
	font-size: 35px;
	color: #777;
	text-decoration: none;
	font-weight: normal;
}

header .logo .meta{
	color: #888;
	line-height: 15px;
	padding: 0px;
	margin: 0px;
}

.mobilescreen .navbar-nav .open .dropdown-menu{
  position:absolute;
  background:#fafafa;
}
.mobilescreen .leftonmobile > .dropdown-menu{
  right:auto !important;
}

.mobilescreen .navbar-nav{
  margin:0px;
}

.mobilescreen .navbar-collapse.in{
  overflow-y:visible
}

header .nav.nav-pills{
	margin-bottom: 10px;
	margin-top: 15px;
}

header .nav.nav-pills > li > a{
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  *border: 0;
  border-bottom-color: #c2c2c2;
  border-radius: 5px;
  *margin-left: .3em;
  margin-right: 5px;
  padding:7px 14px;
}

header .nav.nav-pills > li > a:hover, header .nav.nav-pills > li > a:focus{
  color: #444;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  text-decoration: none;
  border:1px solid #aaa;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;  
}

.pill-container .nav.nav-pills > li > a span{
   border-radius:40px;
   padding:4px 6px;
   font-size:11px;
   display:inline-block;
   text-shadow:none !important;
}

.pill-container .nav-pills .open .dropdown-toggle{
  color: #444;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear; 
}

.pill-container .header-data{
	margin-top: 15px;
}

.pill-container .header-data .hdata{
	display: inline-block;
	width: 150px;
	margin-right: 15px;
}

.pill-container .header-data .hdata i{
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 44px;
	text-align: center;
	color: #fff;
	border-radius: 50px;
	box-shadow: inset 0px 0px 1px #777;
}	

.pill-container .header-data .hdata p, .pill-container .header-data .hdata a, .pill-container .header-data .hdata a:hover{
	display: block;
	line-height: 16px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
  padding-top:10px;
	margin-top: 3px;
	color: #777;
}

.pill-container .header-data .hdata em{
	display: block;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
}

/* Notification */

.noty_text{
	font-size: 12px;
	line-height: 20px;
}

/* Sidebar */

.sidebar{
	width: 230px;
	float: left;
	display: block;
	color: #777;
	position: relative;
}

.sidebar .sidebar-dropdown{
	display: none;
}

.sidebar .sidebar-dropdown a{
	color: #fff !important;  
	box-shadow: inset 0px 0px 1px #000;
	background-color: #3D3D3D;
  padding:6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  display: block;
  border-top: 2px solid #666;
  border-bottom: 1px solid #333;
  
}

.sidebar ul{
	padding: 0px;
	margin: 0px;
}

.sidebar ul li{
	list-style-type: none;
}

.sidebar #nav { 
  display: block; 
  width:100%; 
  margin:0 auto; 
  position: relative;
  z-index: 60;
}

.sidebar #nav li i{
	display:inline-block;
	margin-right: 10px;
  margin-left: 5px;
	font-size:17px;
  color:#d4d4d4;
  width:20px;
	line-height: 20px;
	text-align: center;

}

.sidebar  #nav li span i{
	margin: 0px;
	color: #999;
  font-size:12px !important;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	background: transparent !important;
	border: 0px;
}


.sidebar #nav > li > a { 
  display: block; 
  padding: 10px 10px;
  font-size: 13px;
  color: #C5CED6;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-top: 1px solid #515A63;
  border-bottom: 1px solid #424A52;
  background-color: #474F57;
}

.sidebar #nav > li:hover > a, .sidebar #nav > li > a.open, .sidebar #nav > li > a.subdrop { 
  color: #e9e9e9;
  border-top: 1px solid #4F5861;
  border-bottom: 1px solid #3C434A;
  background-color: #3C434A;
  box-shadow: none;
  color: #fff;
}

.sidebar #nav > li > a:hover i, .sidebar #nav > li > a.open i, .sidebar #nav > li > a.subdrop i{
	color: #fff;
}

.sidebar #nav > li > a:hover span i, .sidebar #nav > li > a.open span i, .sidebar #nav > li > a.subdrop span i{
  color: #fff;
  background: transparent !important;
  border: 0px;
}

.sidebar #nav li ul { display: none; background: #efefef url("../img/cream.png") repeat; }

.sidebar #nav li ul li a { 
  display: block; 
  background: #2E3338;
  padding: 5px 10px;
  padding-left: 20px;
  text-decoration: none;
  color: #bbb;
  border-bottom: 1px solid #2E3338;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.sidebar #nav li ul li a:hover,.sidebar #nav li ul li a.active {
  background: #59646E;
  color:#ccc;
  border-bottom: 1px solid #59646E;
}

.sidebar #nav .has_sub ul i{
  font-size: 14px;
  width:16px;
  margin-left:0px;
  margin-right:6px;
}

.sidebar #nav .has_sub .has_sub a.subdrop, .sidebar #nav .has_sub .has_sub a.subdrop i{
  background: #59646E;
  color:#fff;
}

.sidebar #nav .has_sub .has_sub ul a{
  padding-left: 40px;
}

.sidebar #nav .has_sub .has_sub .has_sub ul a{
  padding-left: 60px;
}

.sidebar-widget{
  padding:10px 4px;
}

#inline-datepicker{
  width:230px;
  top:400px;
}
/* Main */

.mainbar{
	position: relative;
	margin-left: 230px;
	margin-right: 0px;
	width: auto;
  overflow:hidden;
	background:#EEEFF2;
	border-left: 1px solid #ccc;
	z-index: 50;
	min-height: 800px;
}

.mainbar .container{
   max-width:100% !important;
	width: 100% !important;
} 

/* Pagination*/

.pagination{
	margin: 10px 0px 5px 0px;
}

.pagination > li > a, .pagination > li > span {
	border-radius: 0px !important;
}	

.pagination > li > a:hover{
	color: #333;
}

.content.enlarged .sidebar{
  width:50px; 
}

.content.enlarged .mainbar{
  margin-left:50px; 
}

.content.enlarged .sidebar .navbar-form:hover{
  width:230px;
  position:relative;
  z-index:100;
}

.content.enlarged .sidebar #nav > li{
  white-space: nowrap;
}

.content.enlarged .sidebar #nav > li > ul{
  display:none;
}

.content.enlarged .sidebar #nav > li:hover > ul{
  position:absolute;
  left:50px;
  width:180px;
  display:block;  
}

.content.enlarged .sidebar #nav ul li:hover > a{
  background: #59646E !important;
  color:#fff;
}

.content.enlarged .sidebar #nav ul li:hover > a i{
  background: #59646E !important;
  color:#fff;
}

.content.enlarged .sidebar #nav ul li:hover > ul{
  position:absolute;
  left:180px;
  margin-top:-32px;
  width:180px;
  display:block;  
}

.content.enlarged .sidebar #nav > li:hover > ul a{
  background:#2E3338;
  padding-left:10px;
  border:none;
  box-shadow:none;
  position:relative;
}

.content.enlarged .sidebar #nav ul li> a span.pull-right{
  position: absolute;
  right:5px;
  top:5px;
}

.content.enlarged .sidebar #nav > li > a span{
  display:none;
  padding-left:10px;
}

.content.enlarged .sidebar #nav > li:hover > a span.pull-right{
  position: absolute;
  right:10px;
  top:7px;
}

.content.enlarged .sidebar #nav > li:hover > a{
  width:230px;
  position:relative;
}

.content.enlarged .sidebar #nav > li{
  position:relative;
}

.content.enlarged .sidebar #nav > li:hover > a span{
  display:inline;
}

.content.enlarged .sidebar .navbar-form{
  padding: 10px 7px;
}

.content.enlarged .sidebar .navbar-form .search-button{
  right:7px;
}
/* Page head */

.mainbar .page-head{
  padding: 8px 20px;
  background:#f3f3f3;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.mainbar .page-head h2{
	font-weight: normal;
  color:#333;
	font-size: 26px;
}

/* Bread crumb */

.mainbar .bread-crumb{
  padding-top:3px;
  border-top: 1px solid #ddd;
  font-size: 12px;
	margin-top: 10px;
	color: #aaa;
}

.mainbar .bread-crumb i{
	margin-right: 3px;
}

.mainbar .bread-crumb .divider{
	margin: 0px 3px;
}

.mainbar .bread-crumb a{
	color: #666;
}

.mainbar .bread-crumb a.bread-current{
	color: #888;
}

/* Matter */

.mainbar .matter{
	border-top: 1px solid #ddd;
	padding: 15px 0px;
}

/* Widget */

.widget {
  border: 1px solid #c9c9c9;
  position:relative;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height:50px;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff; 
  //background: #fafafa url('../img/cream.png') repeat;
}

.widget p{
	margin: 3px 0px 5px 0px !important;
	line-height: 20px;
}

.widget hr{
	margin: 8px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

.widget .table{
	margin: 0px;
	width: 100%;
}

.widget .table .btn{
	font-size: 13px !important;
}

.widget .table-bordered{
	border-radius: 0px;
	border: 0px;
}

.widget .table-bordered th{
	border-bottom: 1px solid #ddd !important;
}

.widget .table-bordered td{
	border-top: 0px !important;
	border-bottom: 1px solid #ddd !important;
	border-radius: 0px !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child{
	border-left: 0px;
}

.widget .table-bordered thead:first-child tr:first-child > th:first-child, 
.widget .table-bordered tbody:first-child tr:first-child > td:first-child {
	border-radius: 0px;
}

.widget.headless .widget-head{
  background: transparent !important;
  border-bottom:0px !important;
}

.widget.footless .widget-head{
  background: transparent !important;
  border-top:0px !important;
}

.widget.wblue{
  background: #436B91 !important;
  border:none;
  color:#fff;
}

.widget.wblue2{
  background: #C5CED6 !important;
  border:none;
  color:#fff;
}

.widget.worange{
  background: #F07C6C !important;
  border:none;
  color:#fff;
}

.widget.worange2{
  background: #F77A52 !important;
  border:none;
  color:#fff;
}

.widget.worange3{
  background: #FF974F !important;
  border:none;
  color:#fff;
}

.widget.stone{
  background: #A49A87 !important;
  border:none;
  color:#333;
}

.widget.wlime{
  background: #C0CA55 !important;
  border:none;
  color:#fff;
}

.widget.wpurple{
  background: #AD5472 !important;
  border:none;
  color:#fff;
}

.widget.wpurple2{
  background: #513B5E !important;
  border:none;
  color:#fff;
}

.widget.wpurple3{
  background: #644D52 !important;
  border:none;
  color:#fff;
}

.widget.wpink{
  background: #EA2E49 !important;
  border:none;
  color:#fff;
}

.widget.wlightblue{
  background: #77C4D3 !important;
  border:none;
  color:#fff;
}

.widget.wgrayish{
  background: #43484D !important;
}

.widget.wgrey{
  background: #888888 !important;
}

.widget.wyellow{
  background: #F5E5C0 !important;
}

.widget.wgrayish .widget-head{
  color:#fff;
  text-shadow:none;
}
.widget.wblack{
  background: #fafafa url('../img/black.png') repeat;
  color: #ddd;
  border: 1px solid #222;
}

.widget.wblack hr{
	border-top: 1px solid #444;
	border-bottom: 1px solid #222;
}

.widget.wblack a{
	color: #aaa;
}

.widget.wblack a:hover{
	color: #888;
}

.widget .padd, .modal-body{
	padding: 13px 15px;
}

.widget .widget-head,.modal-header{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	color: #666;
	font-size: 14px;
	font-weight: bold;
    padding: 8px 15px;
}

.widget.wblack .widget-head{
  background-color: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  background: -webkit-linear-gradient(top, #333, #111);
  background: -moz-linear-gradient(top, #333, #111);
  background: -ms-linear-gradient(top, #333, #111);
  background: -o-linear-gradient(top, #333, #111);
  background: linear-gradient(top, #333, #111);
  text-shadow:0px 1px #000;
  border-bottom: 1px solid #555;
  border-top: 1px solid #666;
  box-shadow: inset 0px 1px 1px #444;
	color: #ccc;
}

.widget .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
	color: #999;
}

.widget.wblack .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-foot, .modal-footer{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 12px;
  color: #555;
  box-shadow: inset 0px 1px 1px #fff;
}

.widget.wblack .widget-foot{
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -webkit-linear-gradient(top, #222, #111);
  background: -moz-linear-gradient(top, #222, #111);
  background: -ms-linear-gradient(top, #222, #111);
  background: -o-linear-gradient(top, #222, #111);
  background: linear-gradient(top, #222, #111);
  text-shadow:0px 1px #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #222;
  color: #aaa;
  box-shadow: inset 0px 1px 1px #444;
}

/* Widget white extras */

.widget .nav-tabs > li a {

}

.widget .nav-tabs {
	margin-bottom: 5px;
}

.widget .tab-content{
	margin-bottom: 10px;
}

/* Widget black extras */

.widget.wblack .btn-inverse{
	border: 1px solid #212121;
}

.widget.wblack a.btn-primary, .widget.wblack a.btn-primary:hover, 
.widget.wblack a.btn-warning, .widget.wblack a.btn-warning:hover,
.widget.wblack a.btn-danger,  .widget.wblack a.btn-danger:hover,
.widget.wblack a.btn-success, .widget.wblack a.btn-success:hover,
.widget.wblack a.btn-info,  .widget.wblack a.btn-info:hover,
.widget.wblack a.btn-inverse, .widget.wblack a.btn-inverse:hover{
    color: #fff;
}

.widget.wblack .form-actions{
	border-radius: 5px;
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -webkit-linear-gradient(top, #222, #111);
  background: -moz-linear-gradient(top, #222, #111);
  background: -ms-linear-gradient(top, #222, #111);
  background: -o-linear-gradient(top, #222, #111);
  background: linear-gradient(top, #222, #111);
	border: 1px solid #111;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.widget.wblack h2,
.widget.wblack h3,
.widget.wblack h4,
.widget.wblack h5,
.widget.wblack h6{
	color: #ddd;
}

.widget.wblack blockquote{
	border-left: 3px solid #555;
}

.widget.wblack .pagination ul > li > a, .widget.wblack .pagination ul > li > span {
  background-color: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -webkit-linear-gradient(top, #222, #111);
  background: -moz-linear-gradient(top, #222, #111);
  background: -ms-linear-gradient(top, #222, #111);
  background: -o-linear-gradient(top, #222, #111);
  background: linear-gradient(top, #222, #111);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #161616;
}

.widget.wblack .pagination ul > li > a:hover{
	background: #222;
}

.widget.wblack .table td{
	border-top: 1px solid #222;
}

.widget.wblack .table tr:hover{
	background: rgba(255,255,255,0.1);
}

.widget.wblack .nav-tabs > .active > a, .widget.wblack .nav-tabs > .active > a:hover {
	background: #222;
}

.widget.wblack .nav-tabs {
    margin-bottom: 5px;
    border-bottom: 1px solid #222;
}

.widget.wblack .nav-tabs > li a {
   	padding: 5px 10px;
  	background-color: #111;
  	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
 	background: -webkit-linear-gradient(top, #222, #111);
  	background: -moz-linear-gradient(top, #222, #111);
  	background: -ms-linear-gradient(top, #222, #111);
  	background: -o-linear-gradient(top, #222, #111);
  	background: linear-gradient(top, #222, #111);
    border: 1px solid #222;
    border-bottom: 0px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    color: #ccc;
    font-weight: bold;
    margin-right: 5px; 
}

.widget.wblack .nav-tabs > li a:hover {
    background: #222; 
}

.widget.wblack .nav-tabs > li.active {
    border-bottom: 0px; 
}

.widget.wblack .nav-tabs > li.active a {
    color: #fff;
    background: #333 url('../img/back.png');
    border-bottom: 0px;
}

.widget.wblack .nav-tabs > li.active a:hover {
    background: #333 url('../img/back.png');            
    border-bottom: 0px; 
}

.widget.wblack .tab-content{
	margin-bottom: 10px;
}

/* Calendar */

.fc-header-title h2 {
	font-size: 15px;
	line-height: 20px;
}

.fc-event-skin {
	background-color: #ff5d5e;
	border-color: #ff3839;
}	

.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
	margin-top: -48px;
	right: 20px;
}


.fc-widget-header {
	padding: 7px 0px !important;
	color: #666;
	background: #eee;
	border-color: #ccc;
}

.fc-content {
	background: #fff;	
}

.fc-content td:hover{
	background: #f3f3f3;	
}

/* Current status */

.current-status{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.current-status .bold{
	font-size: 13px;
	margin-left: 8px;
}

.current-status li{
 	padding: 10px 0px;
 }

/* Today datas */

.today-datas{
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.today-datas li{
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
  padding: 10px 20px;
  text-shadow:0px 1px 0px #fff;
  max-width: 100%;
  text-align: center;
}

.today-datas li .datas-text{
	font-size: 12px;
	padding: 7px 0px 0px 0px;
	font-weight: normal;
}

/* Profile */

.profile{
	margin-top: 15px;
}

/* Error */

.error-page{
	max-width: 500px;
	margin: 50px auto;
}

.error h1{
	font-weight: normal;
}

/* Grid */

.show-grid div{
	background: #eee;
	text-align: center;
	margin: 10px 0px;
	border: 1px solid #ddd;
}

/* Date & Time Picker */

.dtpicker{
	max-width:120px;
	display:inline-block;
}

#reportrange{
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-top:15px
}
#reportrange:hover{
  border-color:#aaa;
}
/* Slider */

#eq span {
    height:120px; float:left; margin:15px
}

.ui-slider .ui-slider-handle { 
	position: absolute; 
	z-index: 2; 
	width: 1.5em; 
	height: 1.5em; 
	cursor: default; 
	border-radius: 2px;
	background: #fafafa !important;
	border: 1px solid #ccc !important; 
}

.ui-slider-horizontal { 
	height: 1em; 
	border: 1px solid #ccc !important; 
	background: #f3f3f3 !important;
	border-radius: 2px;
}

.ui-slider-vertical { 
	height: 100px; 
	width: 1em;
	border: 1px solid #ccc !important; 
	background: #f3f3f3 !important;
	border-radius: 2px;
}

#master1, #master2, #master3, #master4, #master5, #master6{
	width: 100%;
	margin:15px 0px !important;
}

.ui-widget-header{
 	border-radius: 3px !important;
}

.slider-red .ui-widget-header{
	background: #dd514c !important;
	border-color: #dd514c !important;
}	

.slider-blue .ui-widget-header{
	background: #36a5c6 !important;
	border-color: #36a5c6 !important;
}	

.slider-green .ui-widget-header{
	background: #44c636 !important;
	border-color: #44c636 !important;
}	

.slider-yellow .ui-widget-header{
	background: #fcd419 !important;
	border-color: #fcd419 !important;
}	

.slider-orange .ui-widget-header{
	background: #fc9419 !important;
	border-color: #fc9419 !important;
}	

.slider-violet .ui-widget-header{
	background: #9919fc !important;
	border-color: #9919fc !important;
}	

/* Toggle button */

.make-switch{
   margin:5px 0px;
}

/* Gallery */

.gallery img{
	max-width: 170px;
	margin: 5px;
	padding: 1px;
	border: 1px solid #aaa;
	border-radius: 5px;
}

/* Error log */

.error-log{
	height: 300px;
	overflow: auto;
	font-family: "Courier New", monospace;
}

.error-log ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.error-log .green{
	color: #61c221;
}

.error-log .red{
	color: #ff0000;
}

/* Media */

.medias .checker {
	width: 5px !important;
}

.medias img{
	padding: 1px;
	background: #fff;
	border: 1px solid #aaa;
	max-width: 40px;
}

/* CL Editor */

.cleditorMain{
	border: 1px solid #ccc;
	margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe{
	width: 100% !important;
}

/* Chart */

#bar-chart,#bar-chart-black,#curve-chart,#live-chart,#pie-chart,#pie-chart2,#pie-chart3{
	height: 250px;
	max-width: 100%;
}

#pie-chart,#pie-chart2,#pie-chart3{
	max-width: 300px;
	margin: 10px auto;
}

/* Support page */

#slist p{
display: none;
margin:5px 0px;
padding:5px 10px;
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 20px;
}

#slist li{
	margin-bottom: 10px;
}

#slist li a{
	display: block;
	margin-bottom: 0px;
}

/* Post form */

.post{
	margin-top: 20px;
}

/* Login and Register form */

.admin-form{
	max-width: 500px;
	margin: 50px auto;
}

.admin-form form{
	padding: 10px 0px;
}

/* Widget-Content */

.widget-content .error .form-inline button{
	margin-left:-2px;
	padding:8px 12px;
}

.chats{
	padding-left:0px;
	margin-left:0px;
}

.recent{
	padding-left:0px;
	margin-left:0px;
}

.widget-foot .form-inline button {
	margin-left: -3px;
	padding:7px 12px;
}

.widget-content .form-inline button {
	margin-left: 0px;
	padding:7px 12px;
}

.buttons button{
	margin-top:10px;
}

.widget-content ol#slist{
	padding:0px;
}

.task i {
	display:inline-block;
	width: 30px;
	height: 17px;
	background: #ccc;
	text-align: center;
	border-radius: 50px;
	font-size: 10px;
	line-height: 17px;
}

.pagination li a{
	color:#777;
}

/* Footer */

footer{
  background-color: #333;
	padding:10px 0px;
	color: #777;
	font-size: 12px;
	border-top: 1px solid #333;
}

footer .container{
	max-width:100% !important;
}

footer a, footer a:visited{
	color: #666;
}

footer a:hover{
	color: #555;
	text-decoration: underline;
}

footer .copy{
	font-size: 11px;
}

/* Noty Style */
.noty_message i.fa{
  margin-right:10px;
}

/* Morris JS */
.morris-hover{position:absolute;z-index:1000;}.morris-hover.morris-default-style{border-radius:2px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.7);border:solid 2px rgba(230, 230, 230, 0.6);font-family:sans-serif;font-size:12px;text-align:center;}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}

/* Responsive */

@media (max-width: 480px){
	.mainbar .page-head h2{
		float: none;
	}
	.mainbar .bread-crumb{
		float: none;
		margin-top: 10px;
	}
	.col-left{
		width: 100%;
		float: none;
		margin-right: none;
	}
	.col-right{
		width: 100%;
		float: none;
	}
	.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
		display: none;
	}
}

@media (max-width: 767px){
		
	.form-inline button{
   		margin-left:0px;
   	} 
	header{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	header .logo{
		padding: 0px;
		display: none;
	}
	header .nav.nav-pills{
		margin-top: 30px;
		margin-bottom: 20px;
		margin-left:20px;
	}
	header .header-data {
		margin-top: 15px;
		margin-left: 20px;
	}
	
	.navbar{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}	
	.nav-collapse .dropdown-menu{
		padding: 10px 10px !important;
	}
	.nav-collapse .dropdown-menu > li{
		color: #999 !important;
	}
	.nav-collapse .dropdown-menu a {
		color: #777;
	}
	.nav-collapse .dropdown-menu a:hover{
		color: #888;
		background:transparent !important;
	}
	.nav-collapse .dropdown-menu hr{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ccc;
	}
  .nav > li{
    display:inline-block;
  }
	.sidebar{
		float: none;
		width: 100%;
		
	}
	.sidebar .sidebar-dropdown{
		display: block;
	}
	.sidebar #nav{
		display: none;
	}
	.mainbar{
		float: none;
		margin:0px;
		border:0px;
	}
	.today-datas{	
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.form{
		margin: 0px !important;
	}
	form .control-group{
		margin:0px !important;
	}
	form .control-label{
		float: none !important;
		width: auto !important;
		text-align: left !important;
	}
	form .controls{
		float: none !important;
		margin-left: 0px !important;
	}
	form .form-actions{
		padding-left: 0px !important;
	}
	.navbar{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.nav-collapse .dropdown-menu{
		padding: 10px 10px !important;
	}
	.nav-collapse .dropdown-menu > li{
		color: #999 !important;
	}
	.nav-collapse .dropdown-menu a {
		color: #777;
	}
	.nav-collapse .dropdown-menu a:hover{
		color: #888;
		background:transparent !important;
	}
	.nav-collapse .dropdown-menu hr{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ccc;
	}	
	.sidebar{
		width: 200px;
	}
	.mainbar{
		margin-left: 200px;
	}
   
   header{
      padding-top:10px;
   }
	
	header .nav.nav-pills{
		margin-top: 30px;
		margin-bottom: 20px;
		margin-left:20px;
	}
	header .header-data {
		margin-top: 15px;
		margin-left: 20px;
	}
	
	header .logo{
		padding: 0px;
		display: none;
	}
}